<div>
    <h2 id="page-heading">
        <span>Account Entities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-account-entity" [routerLink]="['/account-entity/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Account Entity
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="accountEntities?.length === 0">
        <span>No accountEntities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="accountEntities && accountEntities.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="code"><span>Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="accountEntityName"><span>Account Entity Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span>Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="openingBalance"><span>Opening Balance</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="closingBalance"><span>Closing Balance</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdAt"><span>Created At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let accountEntity of accountEntities ;trackBy: trackId">
                    <td><a [routerLink]="['/account-entity', accountEntity.id, 'view']">{{ accountEntity.id }}</a></td>
                    <td>{{ accountEntity.code }}</td>
                    <td>{{ accountEntity.accountEntityName }}</td>
                    <td>{{ accountEntity.description }}</td>
                    <td>{{ accountEntity.openingBalance }}</td>
                    <td>{{ accountEntity.closingBalance }}</td>
                    <td>{{ accountEntity.createdAt | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/account-entity', accountEntity.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/account-entity', accountEntity.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(accountEntity)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="accountEntities && accountEntities.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
